*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    padding-bottom: 50px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: 0px auto;
}
#header{
    background-color: #151515;
    height: 70px;
    color: white;
}
#logo{
    width: 40%;
    float: left;
}
#navigation{
    width: 60%;
    float: right;
}
#navigation ul li{
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 25px;
}
#navigation ul li:hover{
    color: #008000;
}
#navigation ul li:nth-child(even){
    color: green;
}
#navigation ul {
    padding-left: 291px;
}
#header-image{
    height: 450px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding-top: 100px;
    color: white;
}
#header-image h1{
    font-size: 75px;
    font-weight: 100;
    margin-bottom: 20px;
}
#header-image h3{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 25px;
}
#header-image button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.services-items{
    float: left;
    text-align: center;
    width: 30%;
    margin-right: 63px;
}
.services-items:nth-child(3){
    margin-right: 0px;
}
#services-section{
    margin-top: 40px;
}
.services-items h2{
    font-weight: 500;
    margin-bottom: 10px;
    color: #968888;
}
.services-items p{
    color: #888896;
    line-height: 23px;
}
#button-section-line{
    margin-top: 60px;
    text-align: center;
    position: relative;
}
#button-section-line button{
    background-color: #008000;
    color: white;
    border: none;
    padding: 10px 20px; 
    width: 203px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: -20px;
    left: 42%;
}
#white-background-effect{
    background-color: white;
    position: absolute;
    left: 40%;
    top: -4px;
    width: 249px;
    height: 20px;
}
#client-review{
    margin-top: 58px;
}
#client-image{
    float: left;
    width: 25%;
}
#client-msg{
    float: right;
    width: 75%;
    margin-top: 15px;
}
#client-msg p{
    margin-top: 20px;
    text-align: center;
    color: #888896;
    line-height: 23px;
}
#footer{
    margin-top: 40px;
}
#map-image{
    float: right;
    text-align: right;
    width: 30%;
}
#contact-info{
    float: left;
    width: 70%;
}
.info{
    margin-bottom: 10px;
}
.info img{
    float: left;
}
.info p{
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}
#social-icons{
    margin-top: 92px;
}
    